* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


body {
  background: #f5f5f2;
  color: #000000;
}

/* HEADER */
header {
  display: flex;
  gap: 0.8rem;
  margin-top: 1rem;
  margin-left: 2rem;
}

.logo-text {
  text-transform: uppercase;
  font-family: "Roboto";
}
/* HEADER */




/* HERO-CONTAINER */
.Hero-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  margin: 0px 70px;
}

.left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-container img {
  padding-left: 100px;
}

.left-container h2 {
  color: #000;
  padding-left: 100px;
  max-width: 610px;
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 400;
}

.left-container p {
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  max-width: 490px;
  font-weight: 200;
  padding-left: 100px;
  margin-top: 1.5rem;
}

.left-container button {
  margin-top: 3rem;
  padding: 13px 23px;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  border-radius: 10px;
  background: #053582;
}



.right-container {
  max-width: 512px;
  padding: 48px;
  background: #fff;
  box-shadow: 3px -5px 40px 0px rgba(205, 205, 212, 0.1);
}

progress{
  width: 100px;
}

.right-container h2 {
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
}

.right-info-container p {
  font-family: DM Sans;
  font-size: 12px;
  margin-top: 1.5rem;
  font-style: normal;
  font-weight: 400;
}

form{
   width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}


.details {
  display: flex;
  gap: 1rem;
  }

.details input {
  max-width: 100%;
}

.privacy {
  margin-top: 1.5rem;
  max-width: 400px;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

input{
  width: 100%;
  border-radius: 10px;
border: 1px solid #E2E2EA;
background: #FFF;
height: 48PX;
padding: 12px;
}

.colored{
  color: #053582;
}

.buttom{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.buttom button {
  display: inline-flex;
  padding: 13px 23px;
  color: #fff;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background: #053582;
}

/* HERO CONTAINER *



/* MEDIA QUERY */
@media (max-width: 768px) {
  .Hero-container {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .details {
    flex-direction: column;
  }
}







